.popup__btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: url(../../../images/CloseIcon.svg) center no-repeat;
  border: none;
  padding: 0;
  transition: opacity 1s;
  cursor: pointer;
}
.popup__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width:515px) {
  .popup__btn-close {
    width: 26px;
    height: 26px;
    top: -39px;
    right: 0;
    background: url(../../../images/CloseIconSmall.svg) center no-repeat;  
  }
}