.profile__info {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  flex-basis: 50%;
}

@media screen and (max-width:770px) {
  .profile__info {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
  }
}

@media screen and (max-width:530px) {
  .profile__info {
    max-width: 282px;
    margin: 0 auto;
  }
}