.profile__img {
  width: 100%;
  min-height: 120px;
  object-fit: cover;
  border-radius: 50%;
}



@media screen and (max-width:530px) {
  .profile__img {
    width: 120px;
    height: 120px;    
  }
}