.popup__input-error {
  display: inline-block;
  position: absolute;
  top: 37px;
  left: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
}
