.footer {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width:900px) {
  .footer {
    max-width: 90%;
  }
}

@media screen and (max-width:425px) {
  .footer {
    max-width: 282px;
  }
}