.element__like-btn {
  width: 22px;
  height: 19px;
  margin-bottom: 3px;
  padding: 0;
  border: none;
  background: url(../../../images/like-btn.svg) center no-repeat;
  transition: opacity 1s;
  cursor: pointer;
}
.element__like-btn:hover {
  opacity: 0.5;
}