.header {
  box-sizing: border-box;
  max-width: 880px;
  margin: 0 auto 42px;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  opacity: 0.7;
  border-top: 1px solid #545454;
}

@media screen and (max-width:900px) {
  .header {
    max-width: 90%;
  }
}

@media screen and (max-width:425px) {
  .header {
    max-width: 100%;
  }
}
